<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Manager panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center
    justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="img/logo.svg" class="logo-img" alt="roadquest" >
            </a>
        </div>
        <div class="col-md-3 text-end">
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-primary">
                Logout
            </a>
        </div>
    </header>
    <div class="row">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="img/user.png" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3" th:text="${currentUser.lastName + ' ' + currentUser.firstName}"></h5>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0"
                                   th:text="'Balance: ' + ${currentUser.bill == null ? 0 : currentUser.bill}">
                                    https://mdbootstrap.com</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <button id="topUp" class="btn btn-primary">Top up</button>
                                <div id="myModal" class="modal">
                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <form th:action="@{/profile/cashIn}" method="post">
                                            <input th:value="${currentUser.id}" th:name="userId" type="hidden">
                                            <label for="cash">Amount:</label>
                                            <input type="text" pattern="[0-9]{1,9}" th:name="cash" id="cash" required>
                                            <button type="submit" class="btn btn-primary" id="confirm">Confirm</button>
                                        </form>
                                        <!--                                        <span class="close"></span>-->
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"
                                   th:text="${currentUser.lastName + ' ' + currentUser.firstName}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${currentUser.email}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${currentUser.phoneNumber}"></p>
                            </div>
                        </div>
                        <hr th:if="${currentUser.passport != null}">
                        <div class="row" th:if="${currentUser.passport != null}">
                            <div class="col-sm-3">
                                <p class="mb-0">Passport</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${currentUser.passport}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-16">
                    <div class="card mb-16 mb-md-0">
                        <div class="card-body">
                            <p class="mb-4">
                                Orders status
                            </p>
                            <div class="table-responsive">
                                <table class="table table-borderless table-striped">
                                    <thead>
                                    <tr>
                                        <th>Car</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order : ${orders}">

                                        <td th:text="${order.car.name}"/>
                                        <td th:text="${order.rentStatus.name}"/>
                                        <td th:if="${order.rentStatus.name == 'On hold' or order.rentStatus.name == 'Paid'}">
                                            <a th:if="${order.rentStatus.name == 'On hold'}"
                                               th:href="@{/profile/payApplication(orderId=${order.id})}"
                                               class="btn btn-info btn-sm">
                                                Pay
                                            </a>
                                            <a th:if="${order.rentStatus.name == 'Paid'}"
                                               th:href="@{/profile/payApplication(orderId=${order.id})}"
                                               class="btn btn-info btn-sm">
                                                Update
                                            </a>
                                        </td>
                                        <td th:else>
                                            Wait for manager review
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>