<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Manager panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container vh-100">
    <header class="d-flex flex-wrap align-items-center
    justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="img/logo.svg" class="logo-img" alt="roadquest" >
            </a>
        </div>
        <div class="col-md-3 text-end">
            <a th:href="@{/logout}" class="btn btn-primary">
                Logout
            </a>
        </div>
    </header>
    <div class="row">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="img/user.png" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">Manager</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="col-md-16">
                    <div class="card mb-16 mb-md-0">
                        <div class="card-body">
                            <p class="mb-4">
                                Orders status
                            </p>
                            <div class="table-responsive">
                                <table class="table table-borderless table-striped">
                                    <thead>
                                    <tr>
                                        <th>Car</th>
                                        <th>Renter</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order : ${applications}">

                                        <td th:text="${order.car.name}"/>
                                        <td th:text="${order.customer.lastName + ' ' + order.customer.firstName}"/>
                                        <td th:text="${order.rentStatus.name}"/>
                                        <td>
                                            <th:block th:if="${order.rentStatus.name == 'New'}">
                                                <a th:href="@{/manager/acceptApplication(applicationId=${order.id})}"
                                                   class="btn btn-info btn-sm">
                                                    Accept
                                                </a>
                                                <a th:href="@{/manager/inspectOrder(applicationId=${order.id})}"
                                                   class="btn btn-danger btn-sm">
                                                    Decline
                                                </a>
                                            </th:block>
                                            <th:block th:if="${order.rentStatus.name == 'On hold'}">
                                                Pending payment
                                            </th:block>
                                            <th:block th:if="${order.rentStatus.name == 'Paid'}">
                                                Pending returns
                                            </th:block>
                                            <th:block th:if="${order.rentStatus.name == 'Completed'}">
                                                Closed
                                            </th:block>
                                            <th:block th:if="${order.rentStatus.name == 'Refunded'}">
                                                Canceled
                                            </th:block>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <footer class="text-center text-white" style="background-color: #eb857c;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Linkedin -->
                <a
                        class="btn btn-link btn-floating btn-lg text-dark m-1"
                        target="_blank"
                        href="https://www.linkedin.com/in/danylo-papizhuk-3667b017b/"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="fab fa-linkedin"></i
                ></a>
                <!-- Github -->
                <a
                        class="btn btn-link btn-floating btn-lg text-dark m-1"
                        target="_blank"
                        href="https://github.com/P4piJoke"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="fab fa-github"></i
                ></a>
            </section>
            <!-- Section: Social media -->
        </div>

        <div class="text-center text-dark p-3" style="background-color: #e74f41;">
            © 2023 Copyright:
            <a class="text-dark" href="https://github.com/P4piJoke/spring-roadquest-car-rental-app" target="_blank">
                RoadQuest inc.</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>

</body>
</html>