<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center
    justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a th:href="@{/}"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="img/logo.svg" class="logo-img" alt="roadquest">
            </a>
        </div>
        <div class="col-md-3 text-end">
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-primary">
                Logout
            </a>
        </div>
    </header>
    <div class="container">
        <h3>Car directory</h3>
        <hr>
        <a th:href="@{/admin/addCar}"
           class="btn btn-primary btn-sm mb-3">
            Add car
        </a>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car : ${cars}">

                    <td th:text="${car.name}"/>
                    <td th:text="${car.carType.name}"/>
                    <td th:text="${car.carType.price}"/>
                    <td>
                        <a th:href="@{/admin/editCar(carId=${car.id})}"
                           class="btn btn-info btn-sm">
                            Update
                        </a>
                        <a th:href="@{/admin/deleteCar(carId=${car.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="if  (!(confirm('Are you sure you want to delete this employee?'))) return false">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="container">
        <h3>User directory</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <tr>
                    <th>Surname</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">

                    <td th:text="${user.lastName}"/>
                    <td th:text="${user.firstName}"/>
                    <td th:text="${user.email}"/>
                    <td th:text="${user.phoneNumber}"/>
                    <td th:text="${user.status}? 'ACTIVE' : 'BLOCKED'"/>
                    <td>
                        <a th:if="${user.status}"
                           th:href="@{/admin/changeUser(userId=${user.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="if  (!(confirm('Are you sure you want to block this user?'))) return false">
                            Block
                        </a>
                        <a th:unless="${user.status}"
                           th:href="@{/admin/changeUser(userId=${user.id})}"
                           class="btn btn-info btn-sm"
                           onclick="if  (!(confirm('Are you sure you want to unblock this user status?'))) return false">
                            Unlock
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="container">
        <h3>Manager directory</h3>
        <hr>
        <a th:href="@{/admin/addManager}"
           class="btn btn-primary btn-sm mb-3">
            Add manager
        </a>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <tr>
                    <th>Surname</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="manager : ${managers}">

                    <td th:text="${manager.lastName}"/>
                    <td th:text="${manager.firstName}"/>
                    <td th:text="${manager.email}"/>
                    <td th:text="${manager.phoneNumber}"/>
                    <td>
                        <a
                                th:href="@{/admin/deleteManager(managerId=${manager.id})}"
                                class="btn btn-danger btn-sm"
                                onclick="if  (!(confirm('Are you sure you want to delete this manager?'))) return false">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="container">
        <h3>Prices</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="type : ${types}">
                    <form th:action="@{/admin/changePrice}" method="get">
                        <input type="hidden" name="typeId" th:value="${type.id}">
                        <td th:text="${type.name}"/>
                        <td>
                            <input type="number" id="price" name="price" required
                                   th:value="${type.price}" min="1" max="10000">
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm"
                                    onclick="if  (!(confirm('Are you sure you want to change this price?'))) return false">
                                Change
                            </button>
                            <!--                            <a-->
                            <!--                                    th:href="@{/admin/changePrice(typeId=${type.id},price=)}"-->
                            <!--                                    class="btn btn-danger btn-sm"-->
                            <!--                                    onclick="if  (!(confirm('Are you sure you want to change this price?'))) return false">-->
                            <!--                                Change-->
                            <!--                            </a>-->
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>