<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center
    justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a th:href="@{/}"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="img/logo.svg" class="logo-img" alt="roadquest">
            </a>
        </div>
        <div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a th:href="@{/}" class="nav-link px-2 link-secondary">Home</a>
                </li>
                <li>
                    <a th:href="@{/rent}" class="nav-link px-2 link-secondary">Rent a car</a>
                </li>
                <li>
                    <a th:href="@{/about}" class="nav-link px-2 link-secondary">About</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 text-end">
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}"
               class="btn btn-outline-primary me-2">
                Login
            </a>
            <a sec:authorize="!isAuthenticated()" th:href="@{/signup}" class="btn btn-primary">
                Sign-up
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/profile}" class="btn btn-outline-primary me-2">
                Profile
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-primary">
                Logout
            </a>
        </div>
    </header>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-5">About Us</h1>
            <p>Welcome to our car rental company! We offer a wide range of high-quality vehicles for rent, providing you with a convenient and reliable transportation solution for your needs.</p>
            <p>At Car Rental Company, we understand the importance of having a comfortable and safe journey. Whether you're planning a family vacation, a business trip, or simply need a car for your daily commute, we have the perfect vehicle to suit your requirements.</p>
            <p>Our fleet consists of modern and well-maintained cars, including sedans, SUVs, minivans, and luxury vehicles. Each vehicle is thoroughly inspected and serviced to ensure optimal performance and your satisfaction.</p>
            <p>We strive to deliver excellent customer service and make the car rental process as smooth as possible. Our friendly and knowledgeable staff is always ready to assist you in choosing the right car and answering any questions you may have.</p>
            <p>With our easy online reservation system, you can quickly browse available vehicles, select your desired dates, and make a reservation in just a few clicks. We offer flexible rental options, including daily, weekly, and monthly rates, to accommodate your specific needs.</p>
            <p>Thank you for considering Car Rental Company for your transportation needs. We look forward to serving you and providing you with a memorable car rental experience.</p>
            <p>Contact us today to book your next rental!</p>
        </div>
    </div>
</div>

<!-- Some data about company -->
<!-- Remove the container if you want to extend the Footer to full width. -->
<div>
    <footer class="text-center text-white" style="background-color: #eb857c;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Linkedin -->
                <a
                        class="btn btn-link btn-floating btn-lg text-dark m-1"
                        target="_blank"
                        href="https://www.linkedin.com/in/danylo-papizhuk-3667b017b/"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="fab fa-linkedin"></i
                ></a>
                <!-- Github -->
                <a
                        class="btn btn-link btn-floating btn-lg text-dark m-1"
                        target="_blank"
                        href="https://github.com/P4piJoke"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="fab fa-github"></i
                ></a>
            </section>
            <!-- Section: Social media -->
        </div>

        <div class="text-center text-dark p-3" style="background-color: #e74f41;">
            © 2023 Copyright:
            <a class="text-dark" href="https://github.com/P4piJoke/spring-roadquest-car-rental-app" target="_blank">
                RoadQuest inc.</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>
<!-- End of .container -->
</body>
</html>