<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center
    justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="img/logo.svg" class="logo-img" alt="roadquest" >
            </a>
        </div>
    </header>
</div>
<h2 class="text-center">Sign in to RoadQuest</h2>
<div class="d-flex align-items-center justify-content-center vh-70">
    <form th:action="@{/login}" method="post">
        <div class="form-outline mb-4">
            <label class="form-label" for="login">Login</label>
            <input type="text" id="login" name="username" class="form-control"/>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control"/>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        </div>
        <div class="text-center">
            <p>
                New to RoadQuest?
                <a th:href="@{/signup}" class="signup-button">Sign Up</a>
            </p>
<!--            <a th:href="@{/signup}" class="btn btn-link">Sign Up</a>-->
        </div>
    </form>
</div>
<div class="fixed-bottom">
    <footer class="text-center text-white" style="background-color: #eb857c;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Linkedin -->
                <a
                        class="btn btn-link btn-floating btn-lg text-dark m-1"
                        target="_blank"
                        href="https://www.linkedin.com/in/danylo-papizhuk-3667b017b/"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="fab fa-linkedin"></i
                ></a>
                <!-- Github -->
                <a
                        class="btn btn-link btn-floating btn-lg text-dark m-1"
                        target="_blank"
                        href="https://github.com/P4piJoke"
                        role="button"
                        data-mdb-ripple-color="dark"
                ><i class="fab fa-github"></i
                ></a>
            </section>
            <!-- Section: Social media -->
        </div>

        <div class="text-center text-dark p-3" style="background-color: #e74f41;">
            © 2023 Copyright:
            <a class="text-dark" href="https://github.com/P4piJoke/spring-roadquest-car-rental-app" target="_blank">
                RoadQuest inc.</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>
</body>
</html>