<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center
    justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="img/logo.svg" class="logo-img" alt="roadquest" >
            </a>
        </div>
        <div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="#" class="nav-link px-2 link-secondary">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 link-secondary">Rent a car</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 link-secondary">About</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 text-end">
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="btn btn-outline-primary me-2">
                Login
            </a>
            <a sec:authorize="!isAuthenticated()" th:href="@{/signup}" class="btn btn-primary">
                Sign-up
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/profile}" class="btn btn-outline-primary me-2">
                Profile
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-primary">
                Logout
            </a>
            <a></a>
        </div>
    </header>
</div>
<h1 sec:authorize="hasAuthority('ADMIN')">I'm ADMIN</h1>
<h1 sec:authorize="hasAuthority('BASIC')">I'm BASIC</h1>
<h1 sec:authorize="hasAuthority('MANAGER')">I'm MANAGER</h1>
</body>
</html>